DATABASE_URL=postgres://stacker:stacker@localhost:5432/stacker
KEEPER_PRIVATE_KEY=replace-me
INITIA_LCD_URL=https://lcd.testnet.initia.xyz
INITIA_RPC_URL=https://rpc.testnet.initia.xyz
KEEPER_ADDRESS=init1replacekeeperaddress
TARGET_POOL_ID=replace-pool-id
DEX_MODULE_ADDRESS=0x1
DEX_MODULE_NAME=dex
KEEPER_MODE=dry-run
KEEPER_DRY_RUN_INPUT_BALANCE=1000
LP_DENOM=ulp
