DATABASE_URL=postgres://stacker:stacker@localhost:5432/stacker
KEEPER_PRIVATE_KEY=replace-me
INITIA_LCD_URL=https://lcd.testnet.initia.xyz
INITIA_RPC_URL=https://rpc.testnet.initia.xyz
INITIA_GAS_PRICES=0.015uinit
INITIA_GAS_ADJUSTMENT=1.75
KEEPER_ADDRESS=init1replacekeeperaddress
TARGET_POOL_ID=replace-pool-id
STRATEGY_EXECUTION_MODE=provide-then-delegate
DEX_MODULE_ADDRESS=0x1
DEX_MODULE_NAME=dex
LOCK_STAKING_MODULE_ADDRESS=0x81c3ea419d2fd3a27971021d9dd3cc708def05e5d6a09d39b2f1f9ba18312264
LOCK_STAKING_MODULE_NAME=lock_staking
LOCKUP_SECONDS=86400
KEEPER_MODE=dry-run
KEEPER_DRY_RUN_INPUT_BALANCE=1000
LP_DENOM=ulp
